/.vs
GuardedCommands/bin
GuardedCommands/obj
GuardedCommands/Lexer.fs
GuardedCommands/Parser.fs
GuardedCommands/Parser.fsi
GuardedCommands/Parser.fsyacc.output
.fake
.ionide
.DS_Store
GuardedCommands/.vscode/settings.json
GuardedCommands/.vs/
